.logosTime
{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    
    padding: 5px 10px 15px 10px;
    border-radius: 0 0 8px 8px;
}
.dstime-resultado {
    font-size: 30px;
    border: 1px solid #000;
}

.logosTime h2{
    color: #646161;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: -25px;
    min-height: 40px;
}

.dstime-times {

    color: #000000;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    min-height: 40px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(43, 40, 40);
    
}