header{
    background-color: var(--color-primary);
    height: 55px;
}

.dstime-nav-content h1 {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    color: rgb(0, 0, 0);
}
.dstime-nav-content p {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.dstime-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(43, 40, 40);
    
}

.dstime-fundacao-container {
    display: flex;
    align-items: center;
    margin: 7px 0 0 0px;
}

.dstime-fundacao {
    margin: 0 0 0 10px;
    font-size: 12px;    
}