.ds-time-collor {
    background-color: rgb(5, 3, 12);
 
   
}
.footer {
    flex-shrink: 0;
    text-align: center;
    padding: 0px;
    clear: both;
    position: relative;
    height: 150px;
    margin-top: 170px;
    
    
}


