@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  --color-primary: rgb(251, 255, 44);
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #f0f0ec;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}